.recipe-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #cccccc;
  cursor: pointer;
  margin: 1rem 0;
  text-decoration: none;
  color: black;

  &__image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  &__text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  &__title {
    font-weight: bold;
  }
}