.recipe-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #2b2b2b;
  box-shadow: 0px 2px 3px #bdc5d5;

  &__image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  &__text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  &__title {
    font-weight: bold;
  }
}