$primary-text: #323232;
$primary-cta: #0095ff;
$secondary-text: #afafaf;
$background: #ffffff;
$cta-text: #ffffff;
$video-player-components: #000000;
$secondary-cta: #0065ad;
$divider-color: #e1e1e1;
$outline-color: #e1e1e1;
$form-background: #fafafa;