.grocery-list {
    margin: 0 1rem;
    min-height: calc(100vh - 7rem);

    &__name {
        display: block;
        position: relative;
        padding-left: 1.75rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        font-size: 1.1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &--checked {
            text-decoration: line-through;
            color: var(--secondary-text-color);
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:hover ~ .grocery-list__checkmark {
                background-color: var(--secondary-text-color);
            }
        
            &:checked ~ .grocery-list__checkmark {
                background-color: var(--primary-color);
            
                &:after {
                    display: block;
                }
            }
        }
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.25rem;
        width: 1.25rem;
        background-color: var(--outline-color);
        border-radius: 3px;
    
        &:after {
            content: "";
            position: absolute;
            display: none;
        
            left: 0.5rem;
            top: 0.25rem;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}