@use "../../styles/partials/breakpoints" as *;

.grocery-list {
    margin: 0 1rem;
    min-height: calc(100vh - 7rem);

    @include tablet {
        margin: 1rem 2rem 1rem 14rem;
    }

    @include desktop {
        max-width: 52rem;
        margin: 3rem auto 3rem;
    }

    &__title {
        display: none;
    }

    &__list {
        padding: 1rem 2rem;

        @include desktop {
            padding: 1rem 6rem;
        }
    }

    &__item {
        padding: 0.25rem 0;
    }

    &__name {
        display: flex;
        position: relative;
        padding-left: 1.75rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        font-size: 1.1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include tablet {
            font-size: 1.25rem;
            padding-left: 2.5rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }

        &--checked {
            text-decoration: line-through;
            color: var(--secondary-text-color);
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:hover ~ .grocery-list__checkmark {
                background-color: var(--secondary-text-color);
            }
        
            &:checked ~ .grocery-list__checkmark {
                background-color: var(--primary-color);
            
                &:after {
                    display: block;
                }
            }
        }
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.25rem;
        width: 1.25rem;
        background-color: var(--outline-color);
        border-radius: 3px;

        @include tablet {
            top: 0.15rem;
            height: 1.5rem;
            width: 1.5rem;
        }
    
        &:after {
            content: "";
            position: absolute;
            display: none;
        
            left: 0.5rem;
            top: 0.25rem;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

            @include tablet {
                width: 7.5px;
                height: 12.5px;
            }
        }
    }
}