.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 0.5rem;

  &__menu {
    width: 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__auth {
    text-decoration: none;
  }
}
