.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0.5rem 1rem;

  &__menu {
    width: 2rem;
    vertical-align: bottom;
    cursor: pointer;
  }

  &__logo-container {
    text-decoration: none;
    color: #2b2b2b;
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 2.5rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__auth {
    text-decoration: none;
    color: var(--secondary-text-color);
  }
}
