@use "../../styles/partials/breakpoints" as *;

.recipes-list {
    display: grid;
    gap: 1rem;
    margin: 1rem 0;

    @include tablet {
        grid-template-columns: auto auto;
        gap: 1rem;
    }
}