.loading {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  min-height: calc(100vh - 7rem);

  &__spinner {
    border: 0.5rem solid var(--outline-color);
    border-radius: 50%;
    border-top: 0.5rem solid var(--primary-color);
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
