.sidebar {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;

    &__container {
        width: 60%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    &__list {
        list-style: none;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    &__item {
        padding: 0.75rem 0;

        &:hover {
            background-color: #eeeeee;
        }

    }

    &__link {
        text-decoration: none;
        color: black;

        &--active {
            font-weight: bold;
        }
    }
}