@use "../../styles/partials/breakpoints" as *;

.preference-bar {
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  &__title-text {
    color: var(--primary-tonned-down-color);
    font-size: 1rem;
    font-weight: bold;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__item-container {
    width: 100%;
  }

  &__field {
    width: 100%;
    height: 0;
    transition: height 0.4s ease;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    overflow: auto;

    &--active {
      height: 10rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &__slider {
    border-radius: 17px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--outline-color);
    transition: 0.2s;

    &:before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.2s;
    }
  }

  &__text {
    font-size: 1rem;

    @include desktop {
      font-size: 1.25rem;
    }
  }

  &__delete {
    width: 1.5rem;
    padding: 0;
    vertical-align: bottom;
  }

  &__add {
    width: 1.75rem;
  }

  &__expand {
    width: 100%;
    border: none;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: inherit;
    color: var(--primary-text-color);
    padding: 0;
    cursor: pointer;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__expand-icon {
    width: 2rem;
    transition: transform 0.3s ease;

    &--active {
      transform: rotate(180deg);
    }
  }
}

input:checked + .preference-bar__slider {
  background-color: var(--primary-color);
}

input:focus + .preference-bar__slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .preference-bar__slider:before {
  transform: translateX(26px);
}
