@use "../../styles/partials/breakpoints" as *;

.search {
  width: 100%;

  &__form {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;

    @include tablet {
      gap: 1rem;
    }

    @include desktop {
      gap: 2rem;
      margin: 2rem 0;
    }
  }

  &__textbox {
    width: 100%;
    border-radius: 0.5rem;
    border: 1.5px solid #cccccc;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    background-image: url("../../assets/icons/search.svg");
    background-position: 0.5rem;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    font-family: inherit;
    font-size: 1rem;

    @include tablet {
      font-size: 1.25rem;
    }

    &:focus {
      outline: none;
      border: 1.5px solid var(--primary-color);
    }
  }

  &__submit {
    flex-shrink: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;

    &:hover {
      background-color: var(--primary-tonned-down-color);
    }

    @include tablet {
      font-size: 1.25rem;
      padding: 0.5rem 2rem;
    }

    @include desktop {
      padding: 0.75rem 4rem;
    }
  }
}
