@use "./styles/partials/fonts" as *;
@use "./styles/partials/breakpoints" as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "AvenirNextLTPro", sans-serif;
    margin: 0;
    color: #2b2b2b;
}

h1 {
    font-size: 1.5rem;

    @include tablet {
        font-size: 1.75rem;
    }
}

label {
    font-size: 1rem;

    @include tablet {
        font-size: 1.25rem;
    }
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol li {
    padding: 0.5rem 0;
    line-height: 1.5rem;
}

p {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #e1ad01;
    --primary-tonned-down-color: #b09231;
    --secondary-color: #78910b;
    --primary-text-color: #2b2b2b;
    --secondary-text-color: #888888;
    --outline-color: #cccccc;
    --background-color: #eeeeee;
    --warning-color: #842029;
}