@use "./styles/partials/fonts" as *;
@use "./styles/partials/breakpoints" as *;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "AvenirNextLTPro", sans-serif;
    margin: 0;
}
