@use "./styles/partials/fonts" as *;
@use "./styles/partials/breakpoints" as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "AvenirNextLTPro", sans-serif;
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol li {
    padding: 0.5rem 0;
}
