@use "../../styles/partials/breakpoints" as *;

.home-page {
    margin: 0 1rem;
    min-height: calc(100vh - 7rem);

    @include tablet {
        margin: 0 2rem 0 14rem;
    }

    @include desktop {
        max-width: 64rem;
        margin: 2rem auto 3rem;
    }
}